{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}} Ajout d'une commande
{% endblock %}

{% block entete_page %}
<div class="wrapper">
	<section id="breadcrumb" class="hoc clear"> 
		<!-- ################################################################################################ -->
		<ul>
		    <li><a href="#">Page d'accueil</a></li>
		    <li><a href="{{ path('gest_veterinaire_ajou_com') }}">Ajout d'une commande</a></li>
	  	</ul>
	  	<!-- ################################################################################################ -->
	  	<h6 class="heading">Ajout d'une commande</h6>
	  	<!-- ################################################################################################ -->
	</section>
</div>         
{% endblock %}

{% block body %}
{{ include ('@GestVeterinaire/Commande/formAjouModif.html.twig') }}
{% endblock %}