{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}} Ajout d'un delegue
{% endblock %}

{% block entete_page %}
<div class="wrapper">
	<section id="breadcrumb" class="hoc clear"> 
		<!-- ################################################################################################ -->
		<ul>
		    <li><a href="#">Page d'accueil</a></li>
		    <li><a href="{{ path('gest_veterinaire_ajout_Delegueveto') }}">Ajout d'un delegue</a></li>
	  	</ul>
	  	<!-- ################################################################################################ -->
	  	<h6 class="heading">Ajout d'un delegue</h6>
	  	<!-- ################################################################################################ -->
	</section>
</div>         
{% endblock %}

{% block body %}
{{ include ('@GestVeterinaire/Delegue/formAjout.html.twig') }}
{% endblock %}